<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memento.android.leancloudlibrary">

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 基础模块 END -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".login.LearnCloudLoginActivity" />
        <activity android:name=".login.RegisterActivity" />

        <!-- 实时通信模块、推送（若使用该功能，需添加以下声明）START -->
        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->


<!--        &lt;!&ndash; 反馈组件（若使用该功能，需添加以下声明）START &ndash;&gt;
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity"></activity>
        &lt;!&ndash; 反馈组件 END &ndash;&gt;
        <activity android:name=".login.ResetPasswdActivity"></activity>

        <meta-data android:name="leancloud" android:value="${LEANCLOUD_CHANNEL_VALUE}"/>-->
    </application>

</manifest>