<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memento.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    

    <application
        android:name="com.memento.android.MementoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.splash.SplashUrlActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" />
        <activity android:name="com.memento.android.ui.zhihu.main.ZhihuActivity" />
        <activity android:name="com.memento.android.ui.zhihu.detail.ZhihuArticleDetailActivity" />
        <activity
            android:name="com.memento.android.ui.setting.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.memento.android.ui.douban.movie.DoubanMovieActivity"
            android:label="@string/menu_douban_movie" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="14c657787670b835f19ca7ff6a17eb1b" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name="com.memento.android.ui.react.MementoReactActivity" />
        <activity android:name="com.memento.android.ui.webview.WebviewActivity" />
        <activity android:name="com.memento.android.ui.test.TestActivity" />

        <service
            android:name="com.memento.android.ui.service.MementoIntentService"
            android:exported="false" />

        <activity android:name="com.memento.android.ui.test.CustomActivity" />
        <activity
            android:name="com.memento.android.ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="com.memento.android.ui.search.SearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.memento.android.ui.person.PersonActivity" />

        <service
            android:name="com.memento.android.ui.service.LocaltionService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>